/*Mixin*/

@mixin box {
    margin: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: outset;
}

/*Elements*/

body{
    padding: 20px;
    padding-top: 0px ;
}

.navbar{
    display: grid;
    grid-template-columns: 6% 90%;
}

.btn-db{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divAddDB{
    margin: 20px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.div-delete-db{
    width: 100%;
    height: 100px;
    @include box;
}

.div-create-table{
    width: 100%;
    height: 100px;
    @include box;
}

.set-data-name{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.input-name-table{
    width: 200px;
    height: 40px;
}

.crud-general{
    width: 100px;
    margin-top: 10px;

}

.btn-create-table{
    margin-top: 2px;
}

.div-no-visible{
    display: none;
}

.div-style{
    width: 100%;
    @include box;
}

.div-tablas{
    padding: 5px;
    border: 1px solid rgb(175, 180, 182);
    border-collapse: collapse;
}

.btn-table{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    right: 0;
}

.input-data{
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgb(175, 180, 182);
}

#selectOperadorRelacional{
    width: 50px;
}

#inputCamposView{
    width: 300px;
}