@mixin box {
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-style: outset;
}

body {
  padding: 20px;
  padding-top: 0px;
}

nav {
  position: fixed;
  flex-direction: initial;
}

div{
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  padding-left: 100px;
  padding-right: 100px;
  padding: 10px;
  border-style: outset;
}

.nameDBheat {
  left: 0;
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 6% 90%;
}

.div-name-table {
  display: grid;
  grid-template-columns: 15% 50% 30% 10%;

}

.btn-add-registro {
  width: 60px;
  height: 50px;
}

.texto-nueva-registro {
  justify-self: end;
  align-items: center;
  margin-right: 10px;
}

.back-button{
    width: 60px;
}

.campos{
  display: flex;
  flex-direction: column;
}

.input-nombre-campo{
  width: 200px;
  margin-right: 0;
}

.span-campo{
  margin-right: 20px;
  margin-left: 20px;
}